$base-padding: 15%;
.Contacts {
    padding: 5% $base-padding 8% $base-padding;
    //background-color: #fff;
    display: flex;
    flex-direction: row;
}

.ContactsDetails {
  flex: 1;
  text-align: left;
  //background: aliceblue;
 // border: 1px solid #d9e0e5;
  display: flex;
  flex-direction: column;
}

.contactsFontAwesome {
    margin-right: 10px;
    color: #0086a5;
    font-size: 1.1vw;
    width: 20px;
}
 

  .ContactsWrapper {
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 1vw;
    display: flex;
    flex-wrap: wrap;
  }

  .ContactsWrapper > div {
    padding-bottom: 3px;
    box-shadow: 0 3px 2px -2px #dae2e9;
    flex: 1 0 40%; 
    display: flex;
    align-items: center;
    margin-top: 50px;
  }


 
  .ContactFormHeader {
    font-family: 'Kaushan Script', cursive;
    color: #0086a5;
    font-size: 1.4vw;
    text-align: center;
  }

.FormContainer {
  //background-color: #f0f8ff;
  padding: 0 30px 40px 30px;
  border-radius: 7px;
  //border: 1px solid #dae2e9;
  position: relative;
  flex: 1;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.contactSlotImg{
  background-color: rgb(82, 82, 82);
  height: 100%;
  width: 80px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}


.googleMapWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 $base-padding;
}

@media only screen and (max-width: 800px) {
  .Contacts > * , 
  .ContactsWrapper > p ,
  .ContactFormHeader,
  .contactsFontAwesome  {
    font-size: 3vw !important;
  }
}

.openTime {
  padding: 15px 25px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
text-align: left;
}