.ElectricalWorksContentWrapper {
    border-radius: 5px;
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    padding: 7% 10% 0 15%;
    text-align: left;
    border-bottom: 1px solid #ccc ;
    &> div {
        flex: 1;

    
    }

}

.ElectricalWorksImg {
    background-repeat: no-repeat;
     background-size: contain;
    background-attachment: local;
}