.coloredSetion {
    min-height: 70vh;
    background-color: #ccc;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5px;
    background-position: center center;
}
.flex {
    display: flex;
}

.whiteSection {
    border-radius: 5px;
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    padding: 0 10% 0 15%;
    text-align: left;
}

.homePageGallerySection {
    border-radius: 5px;
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    padding: 0 10% 0 15%;
    text-align: left;
    margin-top: 50px;
    flex-wrap: wrap;
}


.MapSection {
    margin-top: 50px;
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    text-align: left;
    border-radius: 5px;
}

.clientCount {
    flex: 1;
    font-size: 2.5vw;
    border-bottom: 3px solid #000;
}

.clientCountProgressBar {
    flex: 1;
    color: #fff;
    font-weight: bold;
    font-size: 1.2vw;
    padding: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 0;
}

.progressBarOuter {
    margin: 5px;
    border-radius: 5px;
    padding-top: 1px;
    width: 100%;
    background-color: #979797;
    height: 12px;
}

.progressBarInner {
    border-radius: 5px;
    background-color: green;
    height: 10px;
  
}

.fillProgressBar {
    animation: 1.85s ease-out 0s 1 fillProgressBar;
}

//ANIMATION
@keyframes fillProgressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
  }


.LvmapImg {
    width: 100%;
}
.mainHeader,
.subHeader {
    margin: 0;
    padding-top: 50px;
    color: #fff;
}

.HomeFirstSectionWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.worksWeDoSolarPanel{
    border-right: 3px solid rgb(245, 245, 245);
    color: #fff;
    padding-left: 15%;
}

.contactsBtn {
    padding: 7px 7px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #6e0000;
    color: #fff;
    font-weight: bold;
    min-width: 200px;
    font-size: 1.2vw;
    cursor: pointer;
}

.worksWeDoSolarPanel, 
.worksWeDoElectrical {
    flex: 1;
    padding-top: 30px;
    min-height: 70vh;
    text-align: left;
}
 
.HomeAboutText {
    padding: 0 15%;
    color: #fff;
    font-size: 2.5vw;
    text-align: left;
    letter-spacing: 1px;
    
}

.solarPowerWorks {
    background-color: #ccc;
    flex: 1;
    padding: 20px;
}

.solarPowerWorksImg {
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
}

.electritionWorksImg{
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    margin: -5% 0 0 -2%;
}

.electritionWorksWrapper {
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    padding: 0 12%;
    margin-top: 2%;
    text-align: left;
  
}

.pseudoEl {
    width: 100px;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0% 100%);
    background-color: #ccc;
}




























 