.solarPanelContactFormImg{
    flex: 1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 1px solid #ccc;
}

.solarPanelContactFormWrapper {
    display: flex;  
    flex: 1;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.solarPanelContactForm {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.priceSectionWrapper {
    border-radius: 5px;
    min-height: 70vh;
    background-color: #fff;
    display: flex;
    padding: 0 10% 0 15%;

    &> div {
        flex: 1;

        &:first-child {
            background-color: #2e3035;
        }
    }
}

.stepsToPerformSolarOrderWrapper {
    border-radius: 5px;
    min-height: 15vh;
    background-color: #fff;
    display: flex;
    padding: 0 10% 0 15%;
    text-align: left;
    &>div {
        flex: 1;
        background-color: #2e3035;
        margin-right: 5% ;
        padding: 15px;
        color: #fff;
        border-radius:  15px;
    }
}