@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  word-break: break-word;
}

.BodyWrapper {
  min-height: 100vh;
}
 
@media only screen and (max-width: 800px) {
  .BodyWrapper {
    margin: 0;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

@keyframes opacitytrans{
  0% {}
  100% {  
    opacity: 1;
  }
}

@keyframes extraTransitionAnimation{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}